In [12]:
import pymongo

In [9]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
Q1
MongoDB is a document oriented database which can store the unstructured data or information.
MongoDB is non rational database that provide support for JSON like storage.

Non-rational databases do not use tabular form of rows and coloum like rational databases.
Non-relational databases use a storage model that is optimized for the specific requirements 
of the type of data being stored.

We prefer Mongodb over SQL to store large application data including images, for hybrid and multi cloud application,
for product based websites and for ecommerce websites.

In [ ]:
Q2
Five technichal features of MangoDb are:
    
1. Ad-hoc queries for optimized, real-time analytics - Optimizing the way in which ad-hoc queries are handled 
can make a significant difference at scale, when thousands to millions of variables may need to be considered.
This is why MongoDB, a document-oriented, flexible schema database, stands apart as
the cloud database platform of choice for enterprise applications that require real-time analytics.

2. Indexing - appropriately for better query executions.Without the right indices, a database is forced to 
scan documents one by one to identify the ones that match the query statement.
But if an appropriate index exists for each query, user requests can be optimally executed by the server.

3. Replication - for better data availability and stability.Replication allows you to sidestep these 
vulnerabilities by deploying multiple servers for disaster recovery and backup.

4. Sharding - Like replication via replication sets, sharding in MongoDB allows for much greater horizontal 
scalability. Horizontal scaling means that each shard in every cluster houses a portion of the dataset
in question, essentially functioning as a separate database.

5. Load balancing

In [43]:
#Q3
client =  pymongo.MongoClient("mongodb+srv://srishtijalan622:srishtijalan622@cluster0.omtmwle.mongodb.net/?retryWrites=true&w=majority")
db = client['Mydatabase']

In [44]:
data = {"Name" : "Srishti" , 
        "Age": "20" , 
        "course" : "Data science Masters"}

In [45]:
my_table = db["My_record"]

In [46]:
#Q4
my_table.insert_one(data)

In [31]:
db

Database(MongoClient(host=['ac-khlrcty-shard-00-02.omtmwle.mongodb.net:27017', 'ac-khlrcty-shard-00-01.omtmwle.mongodb.net:27017', 'ac-khlrcty-shard-00-00.omtmwle.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-xzk9ep-shard-0', tls=True), 'Mydatabase')

In [48]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [49]:
my_table.insert_many(data2)

In [50]:
my_table.find_one()

{'_id': ObjectId('6489c1638c80605aef128baf'),
 'Name': 'Srishti',
 'Age': '20',
 'course': 'Data science Masters'}

In [53]:
for i in my_table.find():
    print(i)

{'_id': ObjectId('6489c1638c80605aef128baf'), 'Name': 'Srishti', 'Age': '20', 'course': 'Data science Masters'}
{'_id': ObjectId('6489c28f8c80605aef128bb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6489c28f8c80605aef128bb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6489c28f8c80605aef128bb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6489c28f8c80605aef128bb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6489c28f8c80605aef128bb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6489c28f8c80605aef128bb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6489c28f8c80605aef128bb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6489c28f8c80605aef128bb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6489c28f8c80605aef128bb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6489c28f8c80605aef128bb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6489c28f8c80605aef128bba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6489c28f8c80605aef128bbb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [56]:
#Q5
#find()- method in mongoDB used to fetch a perticular data from table in a database.

for i in my_table.find({"Name" : "Srishti"}):
    print(i)

{'_id': ObjectId('6489c1638c80605aef128baf'), 'Name': 'Srishti', 'Age': '20', 'course': 'Data science Masters'}

In [66]:
#Q6
#sort()-A document that defines the sort order of the result set.
db.Mydatabase.find().sort('{name':-1})

NameError: name 'name' is not defined

In [ ]:
Q7
Delete_many() is used when one needs to delete more than one document.
Delete_one() is used to delete single document.
Drop() is used to delete the table.